* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(9, 50, 137);
    color: rgb(210, 144, 20);
    padding-top: 4rem;
    text-align: center;
    font-family: 'Sofia Sans', 'Open Sans';
}

#title {
    padding: 30px;
    font-size: 3em;
}

#subtitle {
    font-size: 2rem;
    padding-bottom: 30px;
}



